<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="assets/css/contactform.css"/>
</head>
<body>
    <header>
        <div class="title">
            <h2>AV FOOD</h2>
        </div>
        <div class="pages">
          <a href="/">Catalogue</a>
          <a href="">Your account</a>
          <a href="/contactform">Contact us</a>
        </div>
        <button class="button"><a href="/cart">Your cart</a></button>
        <button class="button"><a href="/login">Login</a></button>
        <button class="button"><a href='/register'>Register</a></button>
    </header>
    <hr>
    <form action="action_page.php">
        <div class="container">
            <h1>Contact us</h1>

            <label for="name"><b>Name</b></label>
            <input type="text" name="name" id="name" required>

            <label for="surname"><b>Surname</b></label>
            <input type="text" name="surname" id="surname" required>

            <label for="e-mail"><b>E-mail</b></label>
            <input type="text" name="e-mail" id="e-mail" required>

            <label for="subject"><b>Subject</b></label>
            <input type="text" name="subject" id="subject" required>

            <label for="message"><b>Message</b></label>
            <textarea id="message" name="message" style="height:200px" required></textarea>
        </div>

        <button type="submit" class="submitbtn">Submit</button>
    </form>
</body>
</html>